cw_hud_InGame.png
cw_hud_InGame.png.meta
cw_hud_Workshop.png
cw_hud_Workshop.png.meta
ModernWarfareHUD/sprites/
ModernWarfareHUD/sprites.meta
ModernWarfareHUD/MWHUD_InGame.png
ModernWarfareHUD/MWHUD_InGame.png.meta
ModernWarfareHUD/MWHUD_Workshop.png
ModernWarfareHUD/MWHUD_Workshop.png.meta
